@media (max-width: 420px){
    header .logo{
        font-size: 15px;  
        margin-right: 5%;    
    }
    header a{
        font-size: 12px;
    }
    header .container{
        display: flex;
        flex-direction: row;
    }
    .botao{
        font-size: 15px;
        margin-top: 5px;
        width: 200px;
    }
}
@media (max-width: 700px){
    header .logo{
        font-size: 30px;
    }
    header .container{
        display: flex;
        flex-direction: row;
    }
    .botao{
        font-size: 15px;
        margin-top: 5px;
        width: 200px;
    }
}
@media screen and(min-width:1000px){
    .descricao{
        width: 50%;
    }
    .botao{
        width: 500px;
    }
}